<template>
    <div>
        <loading ref="loading"/>
        <component :is="layout" v-if="layout && (!user || user && user.height)"/>
        <start-questions v-if="user && !user.height"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Loading from './Loading'
import startQuestions from '../layouts/startQuestions'

const requireContext = require.context('../layouts', false, /.*\.vue$/)

const layouts = requireContext.keys()
  .map(file =>
    [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
  )
  .reduce((components, [name, component]) => {
    components[name] = component.default || component
    return components
  }, {})

export default {
  el: '#app',

  components: {
    Loading,
    startQuestions
  },

  data: () => ({
    layout: null,
    defaultLayout: 'default'
  }),

  computed: {
    ...mapGetters({
      isAuth: 'auth/token',
      user: 'auth/user'
    })
  },

  methods: {
    setLayout (layout) {
      if (!layout || !layouts[layout]) {
        layout = this.defaultLayout
      }

      this.layout = layouts[layout]
    }
  },

  mounted () {
    this.$loading = this.$refs.loading

    if (this.isAuth) this.$store.dispatch('auth/fetchUser')
  }
}
</script>
