<template>
    <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height">
        <circle stroke="#c7c3c3" stroke-width="10" fill="none" cx="60" cy="60" r="55"/>
        <circle cx="60" cy="60" r="55" stroke="#1d8cf8" stroke-width="10" fill="none" stroke-linecap="round"
                transform="rotate(-90, 60, 60)" :stroke-dasharray="activeProgress"/>
    </svg>
</template>

<script>
export default {

  props: [
    'width',
    'height',
    'progress'
  ],

  computed: {
    activeProgress () {
      return ((2 * 3.14 * 55) / 100) * this.progress + ', 2000'
    }
  }
}
</script>
