<template>
    <div>
        <v-select label="name"
                  class="leading-normal border-blue-600 text-white border h-full w-full rounded-sm focus:border-blue-600 hover:border-blue-600 transition"
                  v-model="selectedExercises"
                  :options="exercises"
                  placeholder="Введите название упражнения"
                  taggable
                  multiple></v-select>

        <table class="w-full mt-10">
            <tr class="text-white border-b border-white-01 text-left">
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">№</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Название</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">1</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">2</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">3</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">4</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">5</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">6</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">7</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">-</th>
            </tr>
            <tr v-for="(exercise, index) in selectedExercises" :key="exercise.id"
                class="text-white border-b border-white-01">
                <td class="px-p7 py-p12 text-p14">{{ index + 1 }}</td>
                <td class="px-p7 py-p12 text-p14">{{ exercise }}</td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">/
                    <input
                            type="number"
                            class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p30 pl-px">
                </td>
                <td class="px-p7 py-p12 text-center text-p14">
                    <button @click="removeExercise(exercise)"><i
                            class="material-icons text-red-800 border border-red-800 text-p12 rounded-full">close</i>
                    </button>
                </td>
            </tr>
        </table>
        <div v-if="!selectedExercises.length" class="flex items-center justify-center flex-col py-p36">
            <img src="/images/weightlifting.svg" class="w-p70">
            <p class="text-p18 text-white-07">Добавьте упражнение</p>
        </div>

        <div class="text-center">
            <button @click="saveExercises" class="mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition" v-if="selectedExercises.length">Сохранить</button>
        </div>
    </div>
</template>

<script>

export default {
  data: () => ({
    selectedExercises: [],
    exercises: [
      'становая тяга', 'гиперэкстензия', 'жим лёжа', 'становая тяга', 'тяга верхнего блока к груди', 'жим штанги от груди стоя']

  }),

  methods: {
    removeExercise (exercise) {
      for (let i = 0; i < this.selectedExercises.length; i++) {
        if (this.selectedExercises[i] === exercise) {
          this.selectedExercises.splice(i, 1)
        }
      }
    },

    saveExercises () {
      localStorage.setItem('exercise', this.selectedExercises)
    }
  }
}
</script>
