<template>
    <div>
        <v-select label="name"
                  class="leading-normal border-blue-600 text-white border h-full w-full rounded-sm focus:border-blue-600 hover:border-blue-600 transition"
                  :class="[{'border-blue-600': selectedProducts.length}]"
                  v-model="selectedProducts"
                  :options="products"
                  @search="fetchProducts"
                  :create-option="createOption"
                  placeholder="Введите название продукта"
                  taggable
                  multiple></v-select>

        <table class="w-full mt-10">
            <tr class="text-white border-b border-white-01 text-left">
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">№</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Название</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">Количество / Грамм
                </th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">Белки</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">Жиры</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">Углеводы</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">ккал</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">-</th>
            </tr>

            <tr v-for="(product, index) in selectedProducts" :key="product.id"
                class="text-white border-b border-white-01">
                <td class="px-p7 py-p12 text-p14">{{ index + 1 }}</td>
                <td class="px-p7 py-p12 text-p14">{{ product.name }}</td>
                <td class="px-p7 py-p12 text-p14 text-center">
                    <input v-model="product.count"
                           type="number"
                           class="bg-gray-900 border border-rounded-sm border-blue-600 text-p14 w-p60 pl-px">
                </td>
                <td class="px-p7 py-p12 text-center text-p14">{{ calcQuantityValue(product.protein, product.count) }}
                </td>
                <td class="px-p7 py-p12 text-center text-p14">{{ calcQuantityValue(product.carbohydrate, product.count)
                    }}
                </td>
                <td class="px-p7 py-p12 text-center text-p14">{{ calcQuantityValue(product.fat, product.count) }}</td>
                <td class="px-p7 py-p12 text-center text-p14">{{ calcQuantityValue(product.energy, product.count) }}
                </td>
                <td class="px-p7 py-p12 text-center text-p14">
                    <button @click="removeProduct(product)"><i
                        class="material-icons text-red-800 border border-red-800 text-p12 rounded-full">close</i>
                    </button>
                </td>
            </tr>
            <tr class="text-white border-b border-white-01" v-if="selectedProducts.length">
                <td class="px-p7 py-p12 text-p15"></td>
                <td class="px-p7 py-p12 text-p15"></td>
                <td class="px-p7 py-p12 text-p15 text-center">Итог:</td>
                <td class="px-p7 py-p12 text-center">{{ sum.protein }}</td>
                <td class="px-p7 py-p12 text-center">{{ sum.fat }}</td>
                <td class="px-p7 py-p12 text-center">{{ sum.carbohydrate }}</td>
                <td class="px-p7 py-p12 text-center">{{ sum.energy }}</td>
                <td class="px-p7 py-p12 text-center"></td>
            </tr>
        </table>
        <div v-if="!selectedProducts.length" class="flex items-center justify-center flex-col py-p36">
            <img src="/images/empty-table.svg" class="w-p100">
            <p class="text-p18 text-white-07">Добавьте съеденные продукты</p>
        </div>

        <div class="text-center">
            <button
                class="mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition"
                v-if="selectedProducts.length"
                @click="save">
                Сохранить
            </button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    selectedProducts: []
  }),

  methods: {
    removeProduct (product) {
      for (let i = 0; i < this.selectedProducts.length; i++) {
        if (this.selectedProducts[i].name === product.name) {
          this.selectedProducts.splice(i, 1)
        }
      }
    },
    fetchProducts (search) {
      this.$store.dispatch('products/fetchProducts', { search })
    },
    createOption (product) {
      return product.id ? Object.assign({}, product) : ({
        name: product,
        protein: 0,
        carbohydrate: 0,
        fat: 0,
        energy: 0,
        count: 100
      })
    },
    calcQuantityValue (value, count) {
      return value ? ((value / 100) * count).toFixed(1) : 0
    },
    save () {
      const selectedProductsIds = this.selectedProducts.map(product => product.id)
      const selectedProductsWeights = this.selectedProducts.map(product => ({ id: product.id, weight: product.count }))

      this.$store.dispatch('historyEnergy/save', {
        products_ids: selectedProductsIds,
        selected_products_weights: selectedProductsWeights
      }).finally(() => (this.selectedProducts = []))
    }
  },

  computed: {
    ...mapGetters({
      products: 'products/items'
    }),
    sum () {
      return this.selectedProducts.reduce((acc, current) => {
        acc.protein += parseFloat(this.calcQuantityValue(current.protein, current.count))
        acc.carbohydrate += parseFloat(this.calcQuantityValue(current.carbohydrate, current.count))
        acc.fat += parseFloat(this.calcQuantityValue(current.fat, current.count))
        acc.energy += parseFloat(this.calcQuantityValue(current.energy, current.count))
        return acc
      }, { protein: 0, carbohydrate: 0, fat: 0, energy: 0 })
    }
  },

  mounted () {
    this.fetchProducts()
  }
}
</script>
