<template>
    <div>
        <div class="flex flex-wrap justify-start mb-p40">
            <button
                v-for="template in templates"
                :key="template.label"
                @click="saveByTemplate(template.value)"
                class="py-p3 px-p10 mr-p15 flex items-center rounded-lg bg-green-500 text-white uppercase text-p12 tracking-normal font-semibold hover-btn transition mt-p10">
                {{ template.label }}
            </button>
        </div>

        <input type="number"
               v-model="value"
               class="w-full border border-blue-600 h-p36 bg-transparent rounded-sm pl-p15 text-white"
               placeholder="Укажите количество в мл">

        <button
            @click="save"
            class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition">
            Сохранить
        </button>
    </div>
</template>

<script>

export default {
  data: () => ({
    templates: [
      { label: 'Стакан воды', value: 200 },
      { label: '0.5 литра', value: 500 },
      { label: '1 литр', value: 1000 }
    ],
    value: 0
  }),

  methods: {
    save () {
      this.$store.dispatch('historyWaters/save', {
        quantity: this.value
      })

      this.value = 0
    },
    saveByTemplate (value) {
      this.$store.dispatch('historyWaters/save', {
        quantity: value
      })
    }
  }
}
</script>
