<template>
    <div class="w-screen h-screen flex">
        <div class="w-1/3 h-full flex flex-col items-start justify-center px-20">
            <form @submit.prevent="login" class="w-full">
                <div class="flex items-center text-p30 mb-p20">
                    Helper<img src="/images/icon-logo.png" class="w-p30 h-p30">Fit
                </div>
                <div class="mb-4 w-full">
                    <input placeholder="Email" v-model="form.email"
                           class="w-full shadow appearance-none border rounded w-full h-12 py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4 w-full">
                    <input type="password" placeholder="Пароль" v-model="form.password"
                           class="w-full shadow appearance-none border rounded w-full h-12 py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button
                    class="bg-btn hover:bg-blue-dark text-white font-bold w-full h-12 py-2 px-4  rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Войти
                </button>
            </form>

            <div class="w-full flex justify-end mt-p15">
                Нет аккаунта?
                 <router-link :to="{name: 'registration'}" class="text-blue-600 hover:underline ml-1">Зарегистрироваться</router-link>
            </div>
        </div>
        <div class="w-2/3 h-full">
            <img src="/images/banner-login.jpg" class="h-full w-full object-cover">
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'guest',

  data: () => ({
    form: {
      email: null,
      password: null
    }
  }),

  methods: {
    login () {
      axios.post('/api/login', this.form)
        .then(res => {
          this.$store.dispatch('auth/saveToken', res.data.token)
          this.$store.dispatch('auth/fetchUser')

          this.$router.push({ name: 'dashboard' })
        })
        .catch(error => {
          console.log(error.response)
        })
    }
  }
}
</script>
