<template>
    <div class="flex">
        <div class="w-1/6 bg-gray-800 p-5 min-h-screen">
            <div class="h-screen fixed">
                <div class="flex items-center text-p30 mb-16 text-white">Helper
                    <img src="/images/icon-logo.png" class="w-p30 h-p30">Fit
                </div>
                <nav>
                    <router-link :to="{name: 'clients'}" v-if="user.email === 'test@test1.com'"
                                 class="text-gray-700 flex items-center py-1 px-2 relative mb-5 transition uppercase" :class="{'active': this.$route.name === 'clients'}">
                        <i class="material-icons mr-2">assignment_ind</i>Клиенты
                    </router-link>
                    <router-link :to="{name: 'dashboard'}"
                                 class="text-gray-700 flex items-center py-1 px-2 relative mb-5 transition uppercase" :class="{'active': this.$route.name === 'dashboard'}">
                        <i class="material-icons mr-2">dashboard</i> Главная
                    </router-link>
                    <router-link :to="{name: 'weights'}"
                                 class="text-gray-700 flex items-center py-1 px-2 relative mb-5 transition uppercase" :class="{'active': this.$route.name === 'weights'}">
                        <i class="material-icons mr-2">fitness_center</i> Измерения
                    </router-link>
                    <router-link :to="{name: 'settings'}"
                                 class="text-gray-700 flex items-center py-1 px-2 relative mb-5 transition uppercase" :class="{'active': this.$route.name === 'settings'}">
                        <i class="material-icons mr-2">settings</i> Настройки
                    </router-link>
                </nav>
                <div class="flex items-center fixed bottom-0 left-0 p-5">
                    <img src="/images/photo-default.svg" class="w-p35 h-p35 rounded-full mr-p15">
                    <div>
                        <span class="block text-white font-semibold">{{ user.name }}</span>
                        <span class="block text-white opacity-50 text-p14">{{ user.email }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-5/6 bg-gray-900">
            <header class="flex justify-end px-10 h-p80 items-center border-b border-gray-800">
                <button class="w-p100 h-p35 py-px px-px rounded-sm border-blue-600 border hover-btn transition"
                        @click="logout">
                    <span
                        class="flex items-center justify-center leading-normal text-white bg-gray-900 h-full rounded-sm">Выход</span>
                </button>
            </header>
            <transition name="page" mode="out-in">
                <div class="p-10">
                    <slot>
                        <router-view/>
                    </slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },

  methods: {
    async logout () {
      await this.$store.dispatch('auth/logout')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
