<template>
    <div class="bg-gray-900 min-h-screen min-w-screen flex py-p33 justify-center items-center" v-if="user">
        <div class="shadow-box bg-gray-600 p-p24 rounded-lg w-1/3">
            <span class="text-white block mb-p24 text-p18 uppercase text-center">Заполните Анкету</span>
            <div class="mb-p30">
                <span class="block text-white-06 text-p14 mb-p5">Выберите пол</span>
                <div class="flex">
                    <label>
                        <input type="radio" value="male" class="custom-radio-choose" name="gender"
                               v-model="form.gender">
                        <div class="custom-radio-choose-mark man flex items-center justify-center">
                            Мужчина
                        </div>
                    </label>
                    <label>
                        <input type="radio" value="female" class="custom-radio-choose" name="gender"
                               v-model="form.gender">
                        <div class="custom-radio-choose-mark woman flex items-center justify-center">
                            Женщина
                        </div>
                    </label>
                </div>
            </div>
            <div class="flex">
                <label class="block text-white-06 text-p14 mr-5">Возраст
                    <input
                            type="number"
                            v-model="form.age"
                            class="w-full border border-blue-900 h-p36 mt-p3 bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                </label>
                <label class="block text-white-06 text-p14 mr-5">Рост
                    <input
                            type="number"
                            v-model="form.height"
                            class="w-full border border-blue-900 h-p36 mt-p3  bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                </label>
                <label class="block text-white-06 text-p14 mr-5">Вес
                    <input
                            type="number"
                            v-model="form.weight"
                            class="w-full border border-blue-900 h-p36 mt-p3  bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                </label>
            </div>
            <div class="mt-p30">
                <span class="block mb-p15 text-white">Выберите уровень активности:</span>
                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="Sedentary">
                    <input id="Sedentary" class="input-radio" type="radio" name="activity" value="1.2"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>Веду сидячий образ жизни</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v3">
                    <input id="v3" class="input-radio" type="radio" name="activity" value="1.37"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>Занимаюсь активными видами спорта не менее 30 мин 3 раза в неделю</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v4">
                    <input id="v4" class="input-radio" type="radio" name="activity" value="1.41"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>4 раза в неделю</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v5">
                    <input id="v5" class="input-radio" type="radio" name="activity" value="1.46"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>5 раз в неделю</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v6">
                    <input id="v6" class="input-radio" type="radio" name="activity" value="1.50"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>6 раз в неделю</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v7">
                    <input id="v7" class="input-radio" type="radio" name="activity" value="1.63"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>Занимаюсь ежедневно</span>
                </label>

                <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v7+">
                    <input id="v7+" class="input-radio" type="radio" name="activity" value="1.9"
                           v-model="form.activity">
                    <div class="custom-radio"></div>
                    <span>Я – работник тяжелого физического труда + занимаюсь ежедневно</span>
                </label>
            </div>
            <button class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition w-full justify-center mt-10" @click="update">
                Сохранить
            </button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    form: {}
  }),

  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },

  methods: {
    clear () {
      this.form = Object.assign({}, this.user)
    },
    update () {
      this.$store.dispatch('auth/updateUser', this.form)
        .then(() => {
          window.successMessage('Информация обновлена')
          this.clear()
        })
        .catch(() => window.errorMessage())
    }
  },

  mounted () {
    this.clear()
  }
}
</script>
