<template>
    <div v-if="user" v-cloak>
        <div class="grid grid-4 grap-p20 mb-p30">
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Вода</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">0.5 л</span>
                        <span
                                class="text-p14 text-gray-400">1.4 л</span>
                    </div>

                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-blue-500"
                             :style="{'width': calcProgress(0.5, 1.4) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Белок</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">97 г</span>
                        <span class="text-p14 text-gray-400">Цель: 84 г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-green-500"
                             :style="{'width': calcProgress(97, 84) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Жиры</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">18.5 г</span>
                        <span class="text-p14 text-gray-400">Цель: 48.2 г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-red-800"
                             :style="{'width': calcProgress(18.5, 48.2) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Углеводы</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">114.5 г</span>
                        <span class="text-p14 text-gray-400">Цель: 235.5 г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-orange-500"
                             :style="{'width': calcProgress(114.5, 235.5) + '%'}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-4 mb-p24">
            <div class="shadow-box bg-gray-600 py-p24 px-p58 rounded-lg">
                <span class="block text-center text-p18 mb-p5 text-white">Калории</span>
                <span class="block text-center text-p30 mb-p5 text-gray-200 font-medium">997.5</span>
                <div class="relative  w-p120 h-p120 mx-auto">
                    <circle-progress width="120" height="120"
                                     :progress="( 997.5 / 1715 ) * 100"/>
                </div>
                <span
                        class="block text-center text-p30 mb-p5 text-gray-200 font-medium">1715</span>
                <span class="block text-center text-gray-400">Дневная норма</span>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg flex-1 flex relative box-activity">
                <div class="w-p200 flex-no-shrink pr-p24">
                    <span class="block text-p18 mb-p5 text-white">Вес</span>
                    <div class="text-p30 font-medium text-gray-200">{{ user.weight }} кг</div>
                    <div class="block mb-p5 text-white">
                        Цель: <span class="text-p30 font-medium text-gray-200">{{ user.goal_of_weight }} кг</span>
                    </div>
                </div>
                <chart-component v-if="historyWeights.length" :value="historyWeights"
                                 style="height: 100%; width: 100%;" class="client"></chart-component>
                <div v-if="!historyWeights.length">
                    <img src="/images/weight.svg" class="w-p100">
                </div>
            </div>
        </div>
        <div class="grid grid-4 mt-p24">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                <span class="block text-center text-p18 mb-p33 text-white">Активность за сегодняшний день</span>
                <div class="relative w-p120 h-p120 mx-auto">
                    <circle-progress width="120" height="120" progress="85" class="absolute"/>
                    <div
                            class="flex w-p120 h-p120 items-center justify-center flex-col text-white text-p18 font-semibold">
                        <img src="/images/running-person.svg" class="w-p30 mb-p5">
                        85%
                    </div>
                </div>
                <div class="flex items-center justify-around mt-p33">
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">700 кКал</span>
                        <span>Потрачено</span>
                    </div>
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">800</span>
                        <span>Шагов</span>
                    </div>
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">650 м</span>
                        <span>Дистанция</span>
                    </div>
                </div>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg box-activity">
                <table class="w-full mt-10">
                    <tr class="text-white border-b border-white-01 text-left">
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">№</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Название</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">1</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">2</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">3</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">4</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">5</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">6</th>
                        <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">7</th>
                    </tr>
                    <tr class="text-white border-b border-white-01">
                        <td class="px-p7 py-p12 text-p14">1</td>
                        <td class="px-p7 py-p12 text-p14">гиперэкстензия</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/20</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/20</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/15</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/15</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/20</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/0</td>
                        <td class="px-p7 py-p12 text-p14 text-center">0/0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ChartComponent from '../components/Chart'
import CircleProgress from '../components/CircleProgress'

export default {

  components: {
    ChartComponent,
    CircleProgress
  },

  computed: {
    ...mapGetters({
      user: 'auth/user',
      historyWeights: 'historyWeights/lastWeekItems',
      historyEnergy: 'historyEnergy/todayItems',
      sumToday: 'historyEnergy/sumToday',
      waterSumToday: 'historyWaters/sumToday'
    })
  },

  methods: {
    calcProgress (value, goalOfValue) {
      return Math.min((value / goalOfValue) * 100, 100)
    }
  },

  mounted () {
    this.$store.dispatch('historyWeights/fetchHistory')
    this.$store.dispatch('historyEnergy/fetchHistory')
    this.$store.dispatch('historyWaters/fetchHistory')
  }
}
</script>

<style>
    .client canvas {
        max-height: 250px;
        width: 582px !important;
    }

    .box-activity {
        grid-column: 2/5;
    }
</style>
