<template>
    <div class="shadow-box bg-gray-600 p-p24 rounded-lg mt-p24">
        <table class="w-full">
            <tr class="text-white border-b border-white-01 text-left">
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Пользователь</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Дни занятий</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Профиль пользователя</th>
                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-right">Удалить</th>
            </tr>
            <tr class="text-white border-b border-white-01">
                <td class="px-p7 py-p12 text-p14">
                    <div class="flex">
                        <img src="/images/photo-default.svg" class="w-p40 h-p40 rounded-full mr-p15">
                        <p>Виктория <br><span class="text-p14 text-gray-400">victoriya@mail.com</span>
                        </p>
                    </div>
                </td>
                <td class="px-p7 py-p12 text-p14">Вторник 10:00 - 12:00<br>Четверг 10:00 - 12:00<br>Суббота 10:00 - 12:00</td>
                <td class="px-p7 py-p12 text-p14">
                    <router-link :to="{name: 'clientsView'}"
                                 class="border border-blue-900 py-p5 px-p20 text-p12 text-white uppercase rounded-lg">
                        Просмотреть профиль
                    </router-link>
                </td>
                <td class="px-p7 py-p12 text-p14 text-right">
                    <button><i
                            class="material-icons text-red-800 border border-red-800 text-p12 rounded-full">close</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</template>
