<template>
    <div v-if="user" v-cloak>
        <div class="grid grid-4 grap-p20 mb-p30">
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Вода</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">{{ (waterSumToday / 1000).toFixed(1) }} л</span>
                        <span
                            class="text-p14 text-gray-400">Цель: {{(user.goal_of_day.water / 1000).toFixed(1) }} л</span>
                    </div>

                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-blue-500"
                             :style="{'width': calcProgress(waterSumToday, user.goal_of_day.water) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Белок</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">{{ sumToday.protein }} г</span>
                        <span class="text-p14 text-gray-400">Цель: {{ user.goal_of_day.protein }} г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-green-500"
                             :style="{'width': calcProgress(sumToday.protein, user.goal_of_day.protein) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Жиры</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">{{ sumToday.fat }} г</span>
                        <span class="text-p14 text-gray-400">Цель: {{ user.goal_of_day.fat }} г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-red-800"
                             :style="{'width': calcProgress(sumToday.fat, user.goal_of_day.fat) + '%'}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                    <span class="text-white block mb-p24 text-p18">Углеводы</span>
                    <div class="flex justify-between items-center mb-p8">
                        <span class="text-p14 text-gray-400">{{ sumToday.carbohydrate }} г</span>
                        <span class="text-p14 text-gray-400">Цель: {{ user.goal_of_day.carbohydrate }} г</span>
                    </div>
                    <div class="h-p8 bg-gray-400 w-full rounded-sm">
                        <div class="rounded-sm h-p8 bg-orange-500"
                             :style="{'width': calcProgress(sumToday.carbohydrate, user.goal_of_day.carbohydrate) + '%'}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-4 mb-p24">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                <span class="block text-center text-p18 mb-p33 text-white">Добавить воду</span>
                <waters></waters>
            </div>

            <div class="shadow-box bg-gray-600 py-p24 px-p58 rounded-lg">
                <span class="block text-center text-p18 mb-p5 text-white">Калории</span>
                <span class="block text-center text-p30 mb-p5 text-gray-200 font-medium">{{ sumToday.energy }}</span>
                <div class="relative  w-p120 h-p120 mx-auto">
                    <circle-progress width="120" height="120"
                                     :progress="( sumToday.energy / user.goal_of_day.energy ) * 100"/>
                </div>
                <span
                    class="block text-center text-p30 mb-p5 text-gray-200 font-medium">{{ user.goal_of_day.energy }}</span>
                <span class="block text-center text-gray-400">Ваша дневная норма</span>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg flex-1 grid-col-2 flex relative">
                <router-link :to="{name: 'weights'}"
                             class="absolute top-0 right-0 m-p20 bg-blue-600 text-white rounded-full text-p14 w-p20 h-p20 flex items-center justify-center hover-btn transition">
                    <i class="material-icons text-p18">refresh</i>
                </router-link>
                <div class="w-p200 flex-no-shrink pr-p24">
                    <span class="block text-p18 mb-p5 text-white">Ваш вес</span>
                    <div class="text-p30 font-medium text-gray-200">{{ user.weight }} кг</div>
                    <div class="block mb-p5 text-white">
                        Цель: <span class="text-p30 font-medium text-gray-200">{{ user.goal_of_weight }} кг</span>
                    </div>
                </div>
                <chart-component v-if="historyWeights.length" :value="historyWeights"
                                 style="height: 100%; width: 100%;"></chart-component>
                <div v-if="!historyWeights.length">
                    <img src="/images/weight.svg" class="w-p100">
                </div>
            </div>
        </div>
        <div class="grid grid-4">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg grid-col-3">
                <current-weight></current-weight>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                <span class="block text-center text-p18 mb-p33 text-white">История за сегодня</span>

                <div>
                    <ul class="bullet-line-list">
                        <li v-for="(energyGroup, index) in historyEnergy" :key="energyGroup.id"
                            class="history-food-item text-p13 text-gray-200 pb-p20">
                            <h6>Прием пищи № {{ index + 1 }}</h6>
                            <p>Ккал {{ energyGroup.energy }}, Белок {{ energyGroup.protein }}, Углеводы {{
                                energyGroup.carbohydrate }}, Жир {{ energyGroup.fat }} </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid grid-4 mt-p24">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg">
                <span class="block text-center text-p18 mb-p33 text-white">Ваша активность за сегодняшний день</span>
                <div class="relative w-p120 h-p120 mx-auto">
                    <circle-progress width="120" height="120" :progress="( activeCurrent / 100 ) * 100" class="absolute"/>
                    <div
                        class="flex w-p120 h-p120 items-center justify-center flex-col text-white text-p18 font-semibold">
                        <img src="/images/running-person.svg" class="w-p30 mb-p5">
                        {{activeCurrent}}%
                    </div>
                </div>
                <button @click="getMiband">
                    Обновить
                </button>
                <div class="flex items-center justify-around mt-p33">
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">{{ activity.cal }} кКал</span>
                        <span>Потрачено</span>
                    </div>
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">{{ activity.steps }}</span>
                        <span>Шагов</span>
                    </div>
                    <div class="flex flex-col items-start text-p14 text-gray-400">
                        <span class="text-white">{{ parseInt(activity.distance / 100) }} м</span>
                        <span>Дистанция</span>
                    </div>
                </div>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg box-activity">
                <current-activity/>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CurrentWeight from '../components/CurrentWeight'
import Waters from '../components/Waters'
import ChartComponent from '../components/Chart'
import CircleProgress from '../components/CircleProgress'
import CurrentActivity from '../components/CurrentActivity'
import Bluetooth from '../mixins/Bluetooth'

export default {
  mixins: [
    Bluetooth
  ],

  components: {
    CurrentWeight,
    Waters,
    ChartComponent,
    CircleProgress,
    CurrentActivity
  },

  data: () => ({
    activity: {
      steps: 0,
      cal: 0,
      distance: 0
    },
    activeCurrent: 0
  }),

  computed: {
    ...mapGetters({
      user: 'auth/user',
      historyWeights: 'historyWeights/lastWeekItems',
      historyEnergy: 'historyEnergy/todayItems',
      sumToday: 'historyEnergy/sumToday',
      waterSumToday: 'historyWaters/sumToday'
    })
  },

  methods: {
    calcProgress (value, goalOfValue) {
      return Math.min((value / goalOfValue) * 100, 100)
    },

    getMiband () {
      this.requestDeviceWithoutNotify(
        {
          filters: [{ services: [0xfee0] }],
          optionalServices: [0x1800, 0x1801, 0x180a, 0x1811, 0x1802, 0x180d, 0xfee0, 0xfee1]
        },
        0xfee0,
        '00000007-0000-3512-2118-0009af100700'
      )

      setTimeout(() => {
        this.activity = {
          steps: 800,
          cal: 700,
          distance: 650
        }
        this.activeCurrent = 85
      }, 1000)
    },
    handleNotificationsBluetooth (value) {
      let data = Buffer.from(value.buffer)
      let result = {}

      result.steps = data.readUInt16LE(1)
      if (data.length >= 8) result.distance = data.readUInt32LE(5)
      if (data.length >= 12) result.calories = data.readUInt32LE(9)
    }
  },

  mounted () {
    this.$store.dispatch('historyWeights/fetchHistory')
    this.$store.dispatch('historyEnergy/fetchHistory')
    this.$store.dispatch('historyWaters/fetchHistory')
  }
}
</script>

<style>
    canvas {
        max-height: 250px;
        width: 340px !important;
    }

    .box-activity {
        grid-column: 2/5;
    }
</style>
