<template>
    <div>
        <div class="flex">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg w-full mr-p20">
                <div class="mb-p30">
                    <span class="block text-white-06 text-p14 mb-p5">Выберите пол</span>
                    <div class="flex">
                        <label>
                            <input type="radio" value="male" class="custom-radio-choose" name="gender"
                                   v-model="form.gender">
                            <div class="custom-radio-choose-mark man flex items-center justify-center">
                                Мужчина
                            </div>
                        </label>
                        <label>
                            <input type="radio" value="female" class="custom-radio-choose" name="gender"
                                   v-model="form.gender">
                            <div class="custom-radio-choose-mark woman flex items-center justify-center">
                                Женщина
                            </div>
                        </label>
                    </div>
                </div>
                <div class="flex">
                    <label class="block text-white-06 text-p14 mr-5">Возраст
                        <input
                                type="number"
                                v-model="form.age"
                                class="w-full border border-blue-900 h-p36 mt-p3 bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                    </label>
                    <label class="block text-white-06 text-p14 mr-5">Рост
                        <input
                                type="number"
                                v-model="form.height"
                                class="w-full border border-blue-900 h-p36 mt-p3  bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                    </label>
                    <label class="block text-white-06 text-p14 mr-5">Вес
                        <input
                                type="number"
                                v-model="form.weight"
                                class="w-full border border-blue-900 h-p36 mt-p3  bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                    </label>
                </div>
                <div class="mt-p30">
                    <span class="block mb-p15 text-white">Выберите уровень активности:</span>
                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="Sedentary">
                        <input id="Sedentary" class="input-radio" type="radio" name="activity" value="1.2"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>Веду сидячий образ жизни</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v3">
                        <input id="v3" class="input-radio" type="radio" name="activity" value="1.37"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>Занимаюсь активными видами спорта не менее 30 мин 3 раза в неделю</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v4">
                        <input id="v4" class="input-radio" type="radio" name="activity" value="1.41"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>4 раза в неделю</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v5">
                        <input id="v5" class="input-radio" type="radio" name="activity" value="1.46"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>5 раз в неделю</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v6">
                        <input id="v6" class="input-radio" type="radio" name="activity" value="1.50"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>6 раз в неделю</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v7">
                        <input id="v7" class="input-radio" type="radio" name="activity" value="1.63"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>Занимаюсь ежедневно</span>
                    </label>

                    <label class="flex text-white-06 text-p14 mr-5 wrap-custom-radio" for="v7+">
                        <input id="v7+" class="input-radio" type="radio" name="activity" value="1.9"
                               v-model="form.activity">
                        <div class="custom-radio"></div>
                        <span>Я – работник тяжелого физического труда + занимаюсь ежедневно</span>
                    </label>
                </div>

                <button class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition w-p200 justify-center mt-10"
                        @click="update">
                    Сохранить
                </button>
            </div>
            <div
                    class="shadow-box bg-gray-600 p-p24 rounded-lg flex flex-col items-center w-p450 flex-no-shrink relative overflow-hidden">
                <div>
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <img src="/images/photo-default.svg"
                         class="h-p120 w-p120 rounded-full relative z-20 border-5 border-blue-900 mt-p30">
                    <div class="text-center text-white text-p30 mt-5">{{ form.name }}</div>
                </div>
                <label class="block text-center mt-10 text-white-06"> Адрес почты
                    <input
                            class="w-full border border-blue-900 h-p36 bg-transparent rounded-sm text-white text-center hover:border-blue-600 focus:border-blue-600 transition"
                            v-model="form.email">
                </label>
            </div>
        </div>

        <!--<div class="shadow-box bg-gray-600 p-p24 rounded-lg w-p450 mt-p24">
            <div class="flex">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open-text" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mr-p24 w-p40 h-p40 "><path fill="#1d8cf8" d="M176 216h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16zm-16 80c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16zm96 121.13c-16.42 0-32.84-5.06-46.86-15.19L0 250.86V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V250.86L302.86 401.94c-14.02 10.12-30.44 15.19-46.86 15.19zm237.61-254.18c-8.85-6.94-17.24-13.47-29.61-22.81V96c0-26.51-21.49-48-48-48h-77.55c-3.04-2.2-5.87-4.26-9.04-6.56C312.6 29.17 279.2-.35 256 0c-23.2-.35-56.59 29.17-73.41 41.44-3.17 2.3-6 4.36-9.04 6.56H96c-26.51 0-48 21.49-48 48v44.14c-12.37 9.33-20.76 15.87-29.61 22.81A47.995 47.995 0 0 0 0 200.72v10.65l96 69.35V96h320v184.72l96-69.35v-10.65c0-14.74-6.78-28.67-18.39-37.77z" class=""></path></svg>
                <p class="text-white">Пользователь Виктория хочет добавить Вас своим тренером</p>
            </div>
            <div class="flex justify-end mt-p15">
                <button class="flex bg-blue-600 py-p5 px-p20 text-p14 text-white font-semibold uppercase rounded-lg hover-btn transition w-p100 justify-center">Принять</button>
                <button class="border border-blue-900 py-p5 px-p20 text-p14 text-white uppercase rounded-lg ml-p24">Отклонить</button>
            </div>
        </div>-->
    </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    form: {}
  }),

  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },

  methods: {
    clear () {
      this.form = Object.assign({}, this.user)
    },
    update () {
      this.$store.dispatch('auth/updateUser', this.form)
        .then(() => {
          window.successMessage('Информация обновлена')
          this.clear()
        })
        .catch(() => window.errorMessage())
    }
  },

  mounted () {
    this.clear()
  }
}
</script>

<style>
    .block.block-one, .block.block-two {
        background: rgba(29, 140, 248, .6);
        background: linear-gradient(90deg, rgba(29, 140, 248, .6) 0, rgba(29, 140, 248, 0));
        position: absolute;
        height: 100px;
        width: 250px;
    }

    .block.block-one {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        margin-top: -88px;
        margin-left: -50px;
    }

    .block.block-two {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        margin-top: 10px;
        margin-left: -137px;
    }

    .block.block-four, .block.block-three {
        background: rgba(29, 140, 248, .6);
        background: linear-gradient(90deg, rgba(29, 140, 248, .6) 0, rgba(29, 140, 248, 0));
        right: -45px;
        position: absolute;
        height: 100px;
        width: 250px;
    }

    .block.block-three {
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg);
        margin-top: -70px;
    }

    .block.block-four {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        margin-top: 6px;
    }

    .input-radio {
        display: none;
    }

    .custom-radio {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #5e676f;
        margin-right: 10px;
        transition: .3s;
        position: relative;
    }

    .wrap-custom-radio {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .wrap-custom-radio:hover .custom-radio {
        border: 1px solid #1d8cf8;
    }

    .custom-radio:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #1d8cf8;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .input-radio:checked + .custom-radio:before {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .custom-radio-choose {
        display: none;
    }

    .custom-radio-choose-mark {
        width: 100px;
        height: 35px;
        border: 1px solid #2b3553;
        color: hsla(0, 0%, 100%, .6);
    }

    .custom-radio-choose-mark.woman {
        border-radius: 0 3px 3px 0;
    }

    .custom-radio-choose-mark.man {
        border-radius: 3px 0 0 3px;
    }

    .custom-radio-choose:checked ~ .custom-radio-choose-mark {
        color: #fff;
    }

    .custom-radio-choose:checked ~ .custom-radio-choose-mark.woman {
        background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    }

    .custom-radio-choose:checked ~ .custom-radio-choose-mark.man {
        background: linear-gradient(0deg, #3358f4, #1d8cf8);
    }

</style>
