<template>
    <div>
        <div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg relative">
                <button @click="getCurrentWeight" v-if="!isBluetoothConnected"
                        class="absolute top-0 right-0 m-p20 bg-blue-600 text-white rounded-full text-p14 w-p20 h-p20 flex items-center justify-center hover-btn transition">
                    <i class="material-icons text-p18">refresh</i></button>
                <div class="absolute top-0 right-0 m-p20 text-white text-p14"
                     v-if="isBluetoothConnected && currentWeight">
                    Текущей вес: {{ currentWeight }}
                </div>

                <div class="absolute top-0 right-0 m-p20 text-white text-p14"
                     v-if="isBluetoothConnected && !currentWeight">
                    Встаньте на весы
                </div>
                <div class="mb-10 text-white uppercase">
                    Ваш вес
                </div>
                <chart-component v-if="historyWeights.length" :value="graphicItems" class="graphic-weight"
                                 style="height: 100%; width: 100%;"></chart-component>
                <div v-if="!historyWeights.length">
                    <img src="/images/weight.svg" class="w-p100">
                </div>
                <div class="flex">
                    <div class="mr-10">
                        <p class="block text-white-06 text-p14 mt-10 mb-p5">Вы можете ввести вес вручную</p>
                        <input v-model="form.weight" placeholder="Ваш текущий вес"
                               class="w-p400 border border-blue-900 h-p36 mt-p3 bg-transparent rounded-sm text-white pl-p15 hover:border-blue-600 focus:border-blue-600 transition">
                        <button
                                class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase rounded-lg hover-btn transition w-p400 justify-center mt-10"
                                @click="update">
                            Сохранить
                        </button>
                    </div>
                    <div class="flex-1">
                        <div class="text-white text-p14">История:</div>
                        <table class="w-full mt-10">
                            <tr class="text-white border-b border-white-01 text-left">
                                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">№</th>
                                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12">Дата</th>
                                <th class="text-p12 uppercase font-semibold text-white-07 px-p7 py-p12 text-center">Вес
                                </th>
                            </tr>

                            <tr v-for="(historyWeight, index) in historyWeights" :key="historyWeight.id"
                                class="text-white border-b border-white-01">
                                <td class="px-p7 py-p12 text-p14">{{index + 1}}</td>
                                <td class="px-p7 py-p12 text-p14">{{ historyWeight.created_at | dateNormalize }}</td>
                                <td class="px-p7 py-p12 text-p14 text-center">{{ historyWeight.weight }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-4 mt-24">
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg"><span
                    class="text-white block mb-p24 text-p18">Обхват талии</span>
                <div class="flex items-center mb-p8 text-p30 font-medium text-gray-200">
                    <span class="text-p30 font-medium"
                          :class="{'text-green-600': currentTail <= 60, 'text-red-600': currentTail > 60}">{{currentTail}}</span>/
                    <span class="text-p30 font-medium text-gray-200">60 см</span>
                </div>
                <input v-model="form.tail" type="number" placeholder="Укажите в см" class="w-full border border-blue-600 h-p36 bg-transparent rounded-sm pl-p15 text-white">
                <button @click="currentTail = form.tail, form.tail = null" class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition">
                    Сохранить
                </button>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg"><span
                    class="text-white block mb-p24 text-p18">Обхват груди</span>
                <div class="flex items-center mb-p8 text-p30 font-medium text-gray-200">
                    <span class="text-p30 font-medium"
                          :class="{'text-green-600': currentGrud <= 90, 'text-red-600': currentGrud > 90}">{{currentGrud}}</span>/
                    <span class="text-p30 font-medium text-gray-200">90 см</span>
                </div>
                <input v-model="form.grud"  type="number" placeholder="Укажите в см" class="w-full border border-blue-600 h-p36 bg-transparent rounded-sm pl-p15 text-white">
                <button @click="currentTail = form.grud, form.grud = null"  class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition">
                    Сохранить
                </button>
            </div>
            <div class="shadow-box bg-gray-600 p-p24 rounded-lg"><span
                    class="text-white block mb-p24 text-p18">Обхват бедер</span>
                <div class="flex items-center mb-p8 text-p30 font-medium text-gray-200">
                    <span class="text-p30 font-medium"
                          :class="{'text-green-600': currentBed <= 90, 'text-red-600': currentBed > 90}">{{currentBed}}</span>/
                    <span class="text-p30 font-medium text-gray-200">90 см</span>
                </div>
                <input v-model="form.bed"  type="number" placeholder="Укажите в см" class="w-full border border-blue-600 h-p36 bg-transparent rounded-sm pl-p15 text-white">
                <button @click="currentTail = form.bed, form.bed = null"  class="flex mt-p25 bg-blue-600 py-p11 px-p40 text-p14 text-white font-semibold uppercase mx-auto rounded-lg hover-btn transition">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import Bluetooth from '../mixins/Bluetooth'
import moment from 'moment'
import { mapGetters } from 'vuex'
import ChartComponent from '../components/Chart'
export default {
  mixins: [
    Bluetooth
  ],
  components: {
    ChartComponent
  },
  data: () => ({
    currentWeight: null,
    form: {
      tail: '',
      grud: '',
      bad: ''
    },
    currentGrud: 95,
    currentTail: 68,
    currentBed: 89
  }),
  methods: {
    sendOnServer () {
      if (this.isActiveHandle()) {
        setTimeout(() => this.sendOnServer(), 1000)
        return false
      }
      this.$store.dispatch('historyWeights/save', {
        weight: this.currentWeight
      })
    },
    getCurrentWeight () {
      this.currentWeight = null

      this.requestDevice(
        { filters: [{ name: 'MIBCS' }], optionalServices: ['body_composition'] },
        'body_composition',
        'body_composition_measurement'
      )
    },
    handleNotificationsBluetooth (value) {
      let isfirstRun = false
      if (!this.currentWeight) isfirstRun = true

      const weightData = value.getUint16(11, true)
      this.currentWeight = (weightData * 0.005).toFixed(1)

      if (isfirstRun) this.sendOnServer()
    },
    update () {
      this.$store.dispatch('historyWeights/save', this.form)
        .then(() => {
          window.successMessage('Информация обновлена')
        })
        .catch(() => window.errorMessage())
    }
  },
  computed: {
    ...mapGetters({
      historyWeights: 'historyWeights/items',
      graphicItems: 'historyWeights/graphicItems',
      user: 'auth/user'
    })
  },
  filters: {
    dateNormalize (date) {
      return moment(date).lang('ru').format('MMMM Do YYYY, h:mm')
    }
  },
  mounted () {
    this.$store.dispatch('historyWeights/fetchHistory')

    this.form.weight = this.user.weight
  }
}
</script>

<style>
</style>
